<header>
    <h1>{{ package.name }} - {{ page  }}</h1>
    <nav>
	<a href="index.html" class="{{_page.nav_index }}">Index</a>
	<a href="about.html" class="{{_page.nav_about }}">About</a>
    </nav>
</header>
